version: '3.7'
services:
  service-a:
    build:
      context: ./
      dockerfile: Dockerfile
      args:
        - PORT=8080
    container_name: service-a
    restart: always
    environment:
      SERVICE_NAME: a
      SERVICE_ID: 0
      JAEGER_URL: http://jaeger:14268/api/traces
      NEXT_URL: http://service-b:8888/service/b/api/v1/talk  
    ports:
      - '8080:8080'

  service-b:
    build:
      context: ./
      dockerfile: Dockerfile
      args:
        - PORT=8888
    container_name: service-b
    restart: always
    environment:
      SERVICE_NAME: b
      SERVICE_ID: 1
      SERVICE_PORT: :8888
      JAEGER_URL: http://jaeger:14268/api/traces
    ports:
      - '8888:8888'

  jaeger:
    image: jaegertracing/all-in-one
    ports:
      - "6831:6831/udp"
      - "6832:6832/udp"
      - "5778:5778"
      - "16686:16686"
      - "14268:14268"